
  .package{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;


      #package-items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .package-item {
          position: relative;
          width: 100%;
          max-width: 50%;
          min-width: 253px;
          padding: 4px;
          margin-bottom: 20px;
          transition: all linear .15s;
          -ms-transition: all linear .15s;
          -moz-transition: all linear .15s;
          -webkit-transition: all linear .15s;

          .content {
            height: 300px;
            padding: 10px;
            background-size: cover;
            background-position: center;
            position: relative;

              .overlay-link {
                position: absolute;
                bottom: 0px;
                left: 0px;
                top: 0px;
                right: 0px;
                z-index: 10;
                transition: all linear .15s;
                -ms-transition: all linear .15s;
                -moz-transition: all linear .15s;
                -webkit-transition: all linear .15s;
              }
          } // content

          .item-label {
            font-size: 17px;
            line-height: 23px;
            text-align: center;
            z-index: 11;
            align-items: center;
          } // item label

          &:hover{
            .overlay-link {
              background-color: rgba(0, 0, 0, 0.4);


            }
          }
        } // package item

        &#package-items-two{
          .package-item{
            // width: 32%;
          }
        }
      } // package items

  } // package
