.hide {display: none !important;}
.flex {display: flex !important;}
.show{display: block !important;}
.overflow {overflow: hidden;}
.inline{display: inline;}
p {
	line-height: 1.5em;
	font-weight: 400;
	color: rgb(204, 204, 204);
}

.inplayer-paywall {
	div, p{
		color: rgb(51, 51, 51);
		font-weight: 400;
	}
}
h1,
h2,
h3 {
	font-family: $font1;
	margin-top: 0;
}
.section{
	padding: 50px 30px;
	text-align: center;

	@media screen and (max-width:  410px) {
		padding: 20px 10px
	}
}
.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.container-title {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;

	&.center::after {
		left: 50%;
		transform: translateX(-50%);
	}
}
.txt-right{text-align: right;}
.button {
	text-transform: uppercase;
	display: inline-block;
	border: none;
	text-decoration: none;
	padding: 15px 25px;
	font-size: inherit;
	font-weight: 700;
	background-color: #fff;
	color: #000;
	font-family: $font2;
	margin: 10px;

	transition: all .3s ease-out;

	&:hover{
		background-color: rgb(219, 219, 219);
	}
} // button

a{cursor: pointer;}

a.link {
	color: var(--primary);

	&:hover{
	text-decoration: underline;
	}
}

//back to top button
.back-to-top {
	background: none;
	display: none;
	margin: 0;
	position: fixed;
	bottom: 150px;
	right: 23px;
	width: 35px;
	height: 35px;
	z-index: 100;
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	background-color: rgba(9, 9, 9, 0.6);
	border-radius: 60px;
	transition: all .3s ease-out;
	i {
		font-size: 38px;
		position: relative;
		left: -1.5px;
		top: -1.5px;
	}

	&:hover {
		opacity: 1;
	}
}
