.hide {
	display: none !important;
}
.flex {
	display: flex !important;
}

.show{
	display: inline-block;
}

.overflow {
	overflow: hidden;
}

p {
	line-height: 1.5em;
	font-weight: 400;
}

h1,
h2,
h3 {
	font-family: $font1;
}
section{
	padding: 50px 30px;
}
.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.container-title {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;

	&.center::after {
		left: 50%;
		transform: translateX(-50%);
	}
}

.button {
	text-transform: uppercase;
	font-family: inherit;
	text-decoration: none;
	padding: 15px 25px;
	font-size: inherit;
	font-weight: 700;
	background-color: transparent;
	font-family: $font1;
	position: relative;
	margin: 10px;
	cursor: pointer;

	@include transition;

} // button

.white-btn{
	border: 1px solid #fff;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: #000;
	}
}

.black-btn{
	border: 1px solid rgb(0, 0, 0);
	color: rgb(0, 0, 0);

	&:hover{
		background-color: rgb(0, 0, 0);
		color: rgb(253, 253, 253);
	}
}




.divider {
	display: block;
	height: 3px;
	width: 200px;
	margin: 0 auto;
}

a.link {
	text-decoration: underline;
	font-style: italic;
	// color: var(--primary);
}

//back to top button
.back-to-top {
	background: none;
	display: none;
	margin: 0;
	position: fixed;
	bottom: 250px;
	right: 23px;
	width: 35px;
	height: 35px;
	z-index: 100;
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	background-color: rgba(9, 9, 9, 0.6);
	border-radius: 60px;
	@include transition;
	i {
		font-size: 38px;
		position: relative;
		left: -1.5px;
		top: -1.5px;
	}

	&:hover {
		opacity: 1;
	}
}
